.text-field {
    -fx-background-color:  #FFFFFF;
    -fx-background-radius: transparent;
    -fx-border-color: #AAB8C2;
    -fx-border-radius: 20;
}

.text-field:focused{
    -fx-border-color: #1da1f2;
}